 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html:{id: 'new_user', :autocomplete => 'off' }) do |f| %>  
  <%= render "devise/shared/error_messages", resource: resource %>

  <strong style="color: black">Please select the user type</strong>
   <!-- <input type="radio" value="1" name="user_type"><label>Seller</label> -->
   
   <%= f.radio_button :user_type_id ,'1' %>Seller<span class="required"></span>
   <%= f.radio_button :user_type_id ,'2' %>Buyer<span class="required"></span>

  <%#= f.hidden_field :user_type_id, value: 1 %> 
   <div class="field">
    <%= f.label :name %><span class="required">*</span><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><span class="required">*</span><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

 <div class="field">
    <%= f.label :phonenumber %><span class="required">*</span><br />
    <%= f.number_field :phonenumber, autofocus: true, autocomplete: "phonenumber" %>
  </div>
  <div class="field">
    <%= f.label :password %><span class="required">*</span>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><span class="required">*</span><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br>

  <div class="actions" style="color: red; font-size: 20px;">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
<!-- script-->
<script>
$('input[type=radio]').click(function(){
    if (this.previous) {
        this.checked = false;
    }
    this.previous = this.checked;
});
</script>
<script >
 $(document).ready(function() {
            $("#set_buyer").click(function() {
                $("checkbox").change();
            });
        });
    </script>
