<div class = "container">
<h1 class="dark head-lg head-xl text-center">BestSeller</h1>
   <%= image_pack_tag "media/images/logo.jpeg", alt:"Ellisting", height:"48", width:"40", class:"img-fluid" %>
</div>

<div class="box-content">

            <p class="pre-heading is-italic">Latest News</p>

                <h2 class="headline size-4">JJXX LAUNCHES WITH 300 INTERNATIONAL INFLUENCERS</h2>
                <div class="bodytext">
                    BESTSELLER's new brand JJXX - the newest member of the JACK &amp; JONES family - has scoured the globe for influencers, as it looks to create awareness around the world with its launch campaign.
                </div><br><br>
    </div>

		<div class ="row">
		   <div class="col-xs-3">
             <%= image_pack_tag "media/images/product1.jpeg", alt:"Ellisting", height:"200", width:"220", class:"img-responsive" %>
		     <%= image_pack_tag "media/images/product2.jpeg", alt:"Ellisting", height:"200", width:"220", class:"img-responsive" %>
		     <%= image_pack_tag "media/images/product3.jpeg", alt:"Ellisting", height:"200", width:"220", class:"img-responsive" %>
		     <%= image_pack_tag "media/images/product4.jpeg", alt:"Ellisting", height:"200", width:"220", class:"img-responsive" %>
		  
		     <%= image_pack_tag "media/images/product5.jpeg", alt:"Ellisting", height:"200", width:"220", class:"img-responsive" %>
		</div>
		</div>





