 <!-- A grey horizontal navbar that becomes vertical on small screens -->
<ul> 
  <% if user_signed_in? %> 
      <li><%= link_to "Home", root_path %></li> 
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
      <li><%= link_to "Add Product", new_product_path %></li>
      <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
  <% else %>
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
      <li><%= link_to "Register", new_user_registration_path , :class => 'register_popup'%></li>
      <li><%= link_to "Login", new_user_session_path  %>
      </li>
  <% end %>
</ul> 

